<h1>All Contacts</h1>
<h5> Click contact to travel to contact page</h5>
<ul>
<% @@rolodex.contacts.each do |contact| %>
  <a href="/contacts/<%= contact.id %>"><li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %></li></a>
  <% end %>
  </ul>